@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Jost:ital,wght@0,400;0,500;1,400&family=Limelight&family=Montserrat:wght@400;500;600&family=Poppins:wght@500&display=swap');

.error {
    font-family: 'Jost', sans-serif;
    color: red;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f5f3;
}

.head {
    display: flex;
    justify-content: space-between;

    .edit {
        text-decoration: underline;
        cursor: pointer;
    }
}

.storeItem {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // height: 200px;


    .img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .footer {
        background-color: #e0cea4;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 10px;

        button {
            background-color: black;
            padding: 5px 8px;
            color: #fff;
            font-family: 'Jost', sans-serif;
            letter-spacing: 1px;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: transparent;
                border: 2px solid black;
                color: black;

            }
        }
    }


}

//////////////////order
.order {
    background-color: #f6f5f3;
    padding: 1% 4%;
    min-height: calc(100vh - 110px);

    .cartItem {
        width: 100% !important;
    }

    .heading {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .seller {
        padding-left: 10px;

        span {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #9B9B9B;

            .span2 {
                text-decoration: underline;
                letter-spacing: 1px;

            }
        }
    }

    .main2 {
        display: flex !important;
        width: 100% !important;
        justify-content: flex-start !important;

        span {
            width: 75%;
        }
    }

    .footer2 {
        display: flex !important;
        justify-content: space-between;

        padding: 0 10px;

        .delivery {
            color: green;
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: 'Jost', sans-serif;
        }

        .ship {
            font-family: 'Jost', sans-serif;
            color: #444444;
            font-size: 16px;
        }
    }

    .orderId {
        color: blue;
    }

    .buttons {
        // width: 320px;
        width: max-content !important;
        gap: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .orderStatus {
            margin-right: 110px !important;
        }

        .view {
            padding: 5px 8px;
            background-color: black;
            color: #fff;
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 10px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 1px;
            font-size: 16px;
            width: 150px;
            display: flex;
            justify-content: center;
            width: 80px;

            .icon {
                font-size: 16px;
            }
        }
    }
}


.pos {
    position: relative;
    left: 100px;
}

.top {
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    .subTop {
        width: 40%;
        display: flex !important;
        gap: 10px !important;
        justify-content: center;
    }

    .earnings {
        background-color: green;
        height: 60px;
        width: max-content;
        min-width: 200px;
        // margin-right: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 10px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;

        span {
            font-size: 25px;
            align-items: center;
            text-decoration: underline;
            font-family: 'Jost', sans-serif;

        }
    }
}

.businessLogo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.roleSelector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 30%;
    margin: 15% auto;
    padding: 60px 0;
    background-color: #fff;


    h1 {
        // font-family: 'Poppins', sans-serif;
        font-family: 'Jost', sans-serif;
        font-size: 24px;
        font-weight: 500;
    }

    .footer {
        display: flex;
        gap: 20px;
        margin-top: 20px;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            // border: 1px solid blue;
            background-color: rgb(239, 238, 238);
            border-radius: 10px;
        }
    }
}





//////////////// individual vendor styling
.vendor {
    display: flex;
    align-items: center;
    padding: 5px 20px;

    img {
        width: 50px;
        height: 50px;
        margin-left: 150px;
        margin-right: 100px;
    }

    .info {
        width: 200px;
        margin-right: 50px;
        text-align: center;
    }

    span {
        font-family: 'Jost', sans-serif;
        font-size: 16px;
    }

    .buttons {
        margin-left: 200px;
        display: flex;
        gap: 10px;

        button {
            padding: 6px 10px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            letter-spacing: 1px;
            cursor: pointer;
            border: none;
        }

        .btn1 {
            background-color: rgb(253, 80, 80);
        }

        .btn2 {
            background-color: green;
            position: relative;
            right: 2px;
        }
    }
}

.vendor:nth-child(even) {
    background-color: transparent;
    border: 1px solid rgb(206, 206, 206);
}

.vendor:nth-child(odd) {
    background: #fff
}

.name {
    font-family: 'Poppins', sans-serif !important;
    text-decoration: underline;
    letter-spacing: 1px;
}

.Disabled {
    color: red;
    font-weight: 500;
    letter-spacing: 1px;
}

.Enabled {
    color: green;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.vendorContainer {
    background-color: #f6f5f3;
    padding: 2%;
    height: calc(100% - 110px);

    h1 {
        font-family: 'Poppins', sans-serif !important;
        font-weight: 500;
        letter-spacing: 2px;
        // text-decoration: underline;
    }
}

///////// global delivery css!
.delivery {
    color: green;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Jost', sans-serif;
}



.seller {
    padding-left: 10px;

    span {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #9B9B9B;

        .span2 {
            text-decoration: underline;
            letter-spacing: 1px;

        }
    }
}

/////////////// chat page
.chat {
    display: flex;
    height: calc(100vh - 110px);

    .left {
        width: 25%;
        height: 100%;

        .chatHeader {
            display: flex;
            align-items: center;
            gap: 15px;

            img {
                width: 40px;
                height: 40px;


            }
        }

        h1 {
            padding-left: 15px;
            font-family: 'Jost', sans-serif;
            font-size: 25px;
            letter-spacing: 1px;
            text-decoration: underline;
        }

        .userComponent {
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 10px;
            padding-left: 20px;
            cursor: pointer;


            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0;
                text-decoration: none;
                letter-spacing: 1px;
            }




        }
    }

    .right {
        background-image: url("https://media.istockphoto.com/id/1409540606/vector/vector-contact-us-pattern-contact-us-seamless-background.jpg?s=612x612&w=0&k=20&c=3djpAIuo9fE9Mr4T7bLIUpEjqU7XaZk4wWt7aMUgU1o=");
        width: 70%;

        .messageContainer {
            .header {
                height: calc(100vh - 180px);
                overflow: scroll;
                padding-left: 20px;
                padding-right: 20px;

                .adminDiv {
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                }

                .userChatDiv {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                }

                .adminChat {
                    // background-color: red;
                    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
                    color: #fff;
                    padding: 10px;
                    margin-bottom: 10px;
                    width: max-content;
                    max-width: 600px;
                    border-radius: 5px 5px 5px 0;

                    span {
                        font-family: 'Jost', sans-serif;
                        font-size: 22px;
                    }
                }

                .userChat {
                    // background-color:green !important;
                    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                    color: white !important;
                    width: max-content;
                    max-width: 600px;
                    padding: 10px;
                    margin-bottom: 10px;
                    border-radius: 5px 5px 0 5px;


                    span {
                        font-family: 'Jost', sans-serif;
                        font-size: 22px;
                    }
                }

                ::-webkit-scrollbar {
                    display: none;
                }
            }

            .header::-webkit-scrollbar {
                display: none;
            }
        }

        .input {
            background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
            height: 70px;
            display: flex;
            align-items: center;
            padding-left: 20px;

            .send {
                cursor: pointer;
            }

            input {
                padding: 10px;
                outline: none;
                border: none;
                background-color: transparent;
                font-family: 'Jost', sans-serif;
                font-size: 20px;
                letter-spacing: 1px;
                width: 92%;

                &::placeholder {
                    font-family: 'Montserrat', sans-serif;
                }

            }
        }
    }
}

.userComponent:nth-child(even) {
    background-color: #ebe0c0;
}

.userComponent:nth-child(odd) {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #fff !important;
}



.slogan {
    display: flex;
    justify-content: center;
    align-items: center !important;

    .sloganDiv {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        width: 600px;
        height: 500px;
        margin-top: 10%;
        border-radius: 10px 10px 0 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;

        .sloganIcon{
            font-size: 60px;
        }
        

        h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 40px;
            text-decoration: underline;
            width: 80%;
            line-height: 4rem;
        }
    }

}

.adminLogo{
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 1px !important;
    font-size: 25px !important;
}