.formContainer{
    margin-top: 20px;
    background-color: #fff;
    padding:2% 4%;
    margin-bottom: 20px;

    h1{
        
            font-family: 'Limelight', cursive;
            font-size: 20px;
            letter-spacing: 3px;
            text-align: start;
            // margin-bottom: 30px;
    }

    .div{
        display: flex;
        flex-direction: column;
        margin: 30px 0;

        span{
            font-family: 'Jost', sans-serif;
            letter-spacing: 2px;
            margin-bottom: 2px;
            font-size: 20px;
        }

        input{
            border: none;
            outline: none;
            padding: 12px;
            font-size: 16px;
            background-color: transparent;
            border-bottom: 1px solid lightgray;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            width: 100%;

            &::placeholder{
                font-family: 'Poppins', sans-serif;
                letter-spacing: 1px;
                font-weight: 400;
            }
        }
    }


    .buttons{

        display: flex;
        gap: 20px;

        button{
            width: 45%;
            padding: 14px;
            font-size: 16px;
            background-color: black;
            color: #fff;
            font-family:'Montserrat', sans-serif;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 25px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}